@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,700&family=Roboto:wght@100;400;900&display=swap');

.title {
  -webkit-text-stroke: 1px black;
  /* width and color */
  font-size: 70px;
  font-family: 'Roboto Condensed', sans-serif;
  color: white;
  text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

.background-container {
  background-image: url("../img/gym.png");
  background-size: cover;
  background-position: center;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-right-radius: 5%;
  border-bottom-left-radius: 5%;
}

.text-container.fixed {
  position: fixed;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.values {
  margin-right: 30px;
}


.text {
  margin-top: 100px;
  margin-bottom: 40px;
  text-align: center;
}
.search{
  margin-left: 20px;
}
.select {
  position: relative;
  display: inline-block;
}

.custom-select {
  appearance: none;
  border: none;
  padding: 10px 40px 10px 10px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  width: 300px;
}

.select-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background-image: url('../img/workout2.png');
  background-repeat: no-repeat;
  background-position: center;
}

.popupbtnOpen {
  border: none;
  background-color: inherit;
  padding: 5px 28px;
  margin-left: -40px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}

.popupbtnOpen:hover {
  background-color: white;
  border-radius: 5px;
}